{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit {{ contact.email }}</h1>
    <hr>
    <div class="col-md-12">
        <h2>Edit a contact</h2>
        <form action="{{ path('edit_task', {'id': contact.id}) }}" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required value="{{ contact.email }}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="address" placeholder="Address" value="{{ contact.address }}">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="phoneNumber" placeholder="Phone number" value="{{ contact.phone }}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="website" placeholder="Website" value="{{ contact.website }}">
            </div>
            <input type="submit" class="btn btn-success" value="Edit">
        </form>
    </div>
{% endblock %}