{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h1>Welcome {{ app.user.username }}</h1>
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        <hr>
        <div class="col-md-12">
            <h2>Create a contact</h2>
            <form action="{{ path('create_task') }}" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="phoneNumber" placeholder="Phone number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="website" placeholder="Website">
                </div>
                <input type="submit" class="btn btn-success" value="Create">
            </form>
        </div>
        <hr>
        <div class="col-md-12">
            <h2>My contacts</h2>
            <table class="table">
                <thead>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Website</th>
                    <th>Command</th>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.address }}</td>
                            <td>{{ contact.phone }}</td>
                            <td>{{ contact.website }}</td>
                            <td><a href="{{ path('edit_page', {'id': contact.id}) }}">Edit</a><a href="{{ path('delete_task', {'id': contact.id}) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <h1>Welcome, please login or register</h1>
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
{% endblock %}